<header class="text-gray-600 body-font">
  <div
    class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
  >
    <a
      class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
        viewBox="0 0 24 24"
      >
        <path
          d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"
        ></path>
      </svg>
      <span class="ml-3 text-xl">API Authentication</span>
    </a>
    <nav
      class="md:ml-auto flex flex-wrap items-center text-base justify-center"
    >
      <a routerLink="" class="mr-5 hover:text-gray-900 nav_link">Home</a>
      <a class="mr-5 hover:text-gray-900 nav_link">About</a>
      <a routerLink="profile" class="mr-5 hover:text-gray-900 nav_link"
        >Profile</a
      >

      <div class="inline-flex items-center ml-5 space-x-6 lg:justify-end">
        <a
          href="#"
          routerLink="login"
          *ngIf="!isLoggedIn"
          style="margin-left: -1rem"
          class="btn_navbar inline-flex items-center justify-center px-4 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 mr-5"
        >
          Sign In
        </a>
        <a
          *ngIf="isLoggedIn"
          (click)="logout()"
          style="margin-left: -1rem"
          class="btn_navbar inline-flex items-center justify-center px-4 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 mr-5"
        >
          Sign Out
        </a>
      </div>
    </nav>
  </div>
</header>
<!-- <router-outlet></router-outlet> -->
